@using COLONY_THE_BUGTRACKER.Models
@using Microsoft.AspNet.Identity

@model IEnumerable<COLONY_THE_BUGTRACKER.Models.ApplicationUser>


@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    ViewBag.Title = $"Welcome {user.FullName}";

}

<style>
    .indexCard {
        color: white
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="row">


            <div class="col-md-12">
                <div class="card no-b mb-3 text-white" style="background-color: #10E7DC; color: white;">
                    <div class="card-body" style="background-color: #0074E1; color: white;">
                        <div class="d-flex justify-content-between align-items-center">

                        </div>
                        <div class="text-center" style="color: white;">
                            <div class="s-48 my-3 font-weight-lighter"><i class="icon-present_to_all"></i></div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <h3 class="number">
                                    <u>

                                        <strong>  @Html.ActionLink("Create Ticket", "Create", "Tickets")</strong>
                                    </u>
                                </h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col">
            <div class="card ">
                <div class="card-header white text-center">
                    <h3><strong class="number" style="color: white">Number Of Tickets Per Priority</strong></h3>
                </div>

                <div id="graph_sub" class="height-300"></div>

            </div>
        </div>
    </div>
<div class="col-md-6">

    <div class="card" style="height: 700px;">
        <div class="card-body">
            @Html.Partial("_ListHomePartial", Model)
            </div>
        </div>

    </div>
</div>


@section Scripts{

    <script>
        $(function () {
            var url = '@Url.Action("ProduceBarData", "Graphing")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'graph_sub',
                    data: response,
                    xkey: 'label',
                    ykey: ['value'],
                    labels: ['Ticket Count'],
                    labelColor: '#fff',

                    resize: true
                });

            });
        });

    </script>
}
